
.container {
  position: relative;
  width: 22px;
  height: 22px;

  .openImages {
    padding-top: 1px;
    cursor: pointer;
  }

  .window {
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;

    .books {
      max-height: 716px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4px;
      position: sticky;
      top: 16px;
      padding-right: 16px;
      border-right: 1px var(--border-color) solid;

      * { font-family: BlinkMacSystemFont, sans-serif; }

      .book {
        cursor: pointer;
        padding: 11px 12px 10px 12px;
        border-radius: 12px;
        transition: all 0.1s;
        position: relative;
        text-wrap: nowrap;

        &:hover, &.active {
          background-color: var(--images-book-hover-background);
          box-shadow: var(--images-book-hover-shadow);
        }

        &.active p { font-weight: 700; }
      }
    }

    .images {
      display: flex;
      flex-direction: column;
      gap: 12px;
      flex: 1;
      overflow-y: auto;
      overscroll-behavior: contain;
      max-height: 716px;
      background: var(--images-background);

      img {
        background-color: #fff;
        margin: 0 auto;
        max-height: 750px;
        max-width: 100%;
        cursor: pointer;
      }
    }
  }
}
