
.container {
  position: relative;
  width: 22px;
  height: 22px;

  .openBookmarks {
    padding-top: 1px;
    cursor: pointer;
  }

  .window {
    padding: 16px 16px 18px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;

      .inputContainer {
        flex-grow: 1;
        .input {
          height: 38px;
          border-radius: 16px;
          font-size: 15px;
        }
      }

      .plus {
        cursor: pointer;
        width: 28px;
        height: 28px;
        padding: 2px;
        border-radius: 8px;
        transition: background-color .2s ease;
        &:hover { background: var(--bookmark-plus-button-hover-background); }
      }
    }

    .bookmarks {
      display: flex;
      flex-direction: column-reverse;
      gap: 12px;

      .bookmark {
        p {
          width: 100%;
          height: fit-content;
          padding: 10px 12px;
          border: 1px solid var(--bookmark-border);
          border-radius: 12px;
        }
      }
    }
  }
}
