
.container {
  height: 34px;
  width: fit-content;
  display: flex;
  border-radius: 50%;

  .title {
    width: fit-content;
    max-width: 400px;
    min-width: 50px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    //display: flex;
    justify-content: start;
    align-items: center;
    line-height: 30px;
    padding: 1px 10px 0;
    cursor: default;
    border: 1px solid var(--header-navigation-border);
    border-right: none;
    border-left: none;
  }

  button {
    background: transparent;
    width: 40px;
    border: 1px solid var(--header-navigation-border);
    font-size: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: var(--header-navigation-hover-background);
    }

    &:first-child {
      border-radius: 20px 0 0 20px;
      padding-left: 3px;
    }

    &:last-child {
      border-radius: 0 20px 20px 0;
      padding-right: 3px;
    }
  }
}
