
.switch {
  --width: 40px;
  --height: 22px;
  --padding: 2.5px;
  --size: calc(var(--height) - 2 * var(--padding));
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    border-radius: calc(var(--height) - 2 * var(--padding));
    cursor: pointer;
    inset: 0;
    background-color: var(--settings-slider-background);
    -webkit-transition: .3s;
    transition: .3s;

    &:before {
      content: "";
      position: absolute;
      left: var(--padding);
      bottom: var(--padding);
      height: var(--size);
      width: var(--size);
      border-radius: 50%;
      background-color: white;
      -webkit-transition: .3s;
      transition: .3s;
    }
  }

  input:checked + .slider {
    background-color: var(--settings-slider-enabled-background);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--settings-slider-enabled-background);
  }

  input:checked + .slider:before {
    --length: calc(var(--width) - 2 * var(--padding) - var(--size));
    -webkit-transform: translateX(var(--length));
    -ms-transform: translateX(var(--length));
    transform: translateX(var(--length));
  }
}
