
.container {
  position: relative;
  width: 24px;
  height: 24px;

  & > span {
    cursor: pointer;
    display: block;
  }

  .settings {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 12px 16px;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 40px;

      > p {
        //noinspection CssInvalidPropertyValue
        text-wrap: nowrap;
        white-space: nowrap;
      }
    }
  }
}