
.searchContainer {
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .close > * {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 26px;
    height: 26px;
    padding-top: 2px;
  }
}

body:has(.searchResultsContainer.opened) {
  overflow-y: hidden;
}

.searchResultsContainer {
  position: fixed;
  z-index: 1;
  inset: 0;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  display: none;
  background-color: var(--search-results-background);

  &.opened {
    display: block;
  }

  .results {

    .block {
      position: relative;
      border-bottom: 1px solid var(--search-results-block-border);
      border-top: 1px solid var(--search-results-block-border);
      padding: 24px 0;
      margin: 0;

      .chevron {
        position: absolute;
        right: -60px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0 4px 3px;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.25s background-color ease;

        &:hover { background: var(--search-results-navigation-button-hover-background); }

        img {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}
