
body:has(.container.opened) {
  overflow-y: hidden;
}

.container {
  position: fixed;
  inset: 0;
  z-index: 999;
  visibility: hidden;
  transition: visibility .3s linear;

  &.opened {
    visibility: visible;
    .overlay { opacity: 1; }
  }

  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity .2s linear;
  }
}
