
@font-face {
  font-family: Roboto;
  src: url(../RobotoRegular.woff);
}

.root {

  * {
    font-family: Roboto, sans-serif;
    color: var(--text-color-primary);
  }

  background-color: var(--background-color);

  --gray-1: #181A1B;
  --gray-2: #1E2022;
  --gray-3: #242628;
  --gray-4: #1B1F1F;
  --gray-5: #3E4446;
  --gray-6: #BDB7AF;

  --shadow-0: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
  --shadow-1: rgba(0, 0, 0, 0.12) 1px 2px 3px, rgba(0, 0, 0, 0.24) 0 2px 3px;
  --shadow-2: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  --shadow-3: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
  --shadow-4: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
  --shadow-5: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;

  --background-color: var(--gray-1);
  --text-color-primary: var(--gray-6);
  --border-color: var(--gray-5);

  --input-border: var(--border-color);

  --header-background: var(--background-color);
  --header-border: var(--border-color);
  --header-shadow: var(--shadow-4);
  --header-button-background: var(--background-color);
  --header-button-border: var(--border-color);
  --header-button-hover-background: var(--gray-2);
  --header-navigation-border: var(--border-color);
  --header-navigation-hover-background: var(--gray-2);

  --search-results-background: var(--background-color);
  --search-results-block-border: var(--border-color);
  --search-results-navigation-button-hover-background: var(--gray-3);

  --side-panel-background: var(--background-color);
  --side-panel-shadow: var(--shadow-5);
  --side-panel-size-color: var(--gray-5);
  --side-panel-chapter-hover-background: var(--gray-4);
  --side-panel-chapter-hover-shadow: var(--shadow-1);

  --settings-slider-background: var(--gray-6);
  --settings-slider-enabled-background: #2196F3;

  --controls-background: var(--gray-2);

  --subwindow-background: var(--background-color);
  --subwindow-border: var(--border-color);
  --subwindow-shadow: var(--shadow-4);

  --bookmark-border: var(--border-color);
  --bookmark-plus-button-hover-background: var(--gray-3);

  --images-background: var(--background-color);
  --images-book-hover-background: var(--gray-4);
  --images-book-hover-shadow: var(--shadow-1);
}
