
.controls {
  width: 800px;
  margin: 50px auto 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 40px;

  a {
    display: flex;
    text-indent: 0;
    background-color: var(--controls-background);
    border-radius: 16px;
    padding: 10px 16px;
    text-decoration: none;
    cursor: pointer;

    &:hover { text-decoration: underline; }
  }
}
