
.window {
  z-index: 150;
  background: var(--subwindow-background);
  border: 1px solid var(--subwindow-border);
  box-shadow: var(--subwindow-shadow);
  border-radius: 8px;
  position: absolute;
  top: calc(100% + 30px);
  overflow: hidden;
  transition: transform 25ms linear;
  display: none;
  &.opened { display: block; }
  &.left { right: calc(50% - 2px); }
  &.right { left: calc(50% - 2px); }
  &.center {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &[style~="height:"] { max-height: initial !important; }
  .scrollContainer {
    width: inherit;
    height: inherit;
    max-height: inherit;
    overflow-y: auto;
    overscroll-behavior: contain;
    &::-webkit-scrollbar { display: none; }
  }
  .resizer {
    --size: 16px;
    width: var(--size);
    height: var(--size);
    position: absolute;
    right: 0.3px;
    bottom: 1.3px;
    cursor: se-resize;
    img {
      width: var(--size);
      height: var(--size);
      -webkit-user-drag: none;
      filter: invert(86%) sepia(20%) saturate(107%) hue-rotate(354deg) brightness(86%) contrast(81%);
    }
  }
}
