
.content {
  width: 800px;
  margin: 80px auto 0;
}

.content, .content > div, .content > div > div, .content > section {

  & > * {
    display: block;
    font-size: 18px;
    margin-bottom: 7px;
    text-align: justify;
    text-indent: 2em;
  }

  emphasis, b {
    display: inline;
    font-style: italic;
  }

  header {
    margin: 24px 0;
    &, * {
      font-size: 36px;
      text-align: center;
      text-indent: 0;
      font-style: normal;
      font-weight: normal;
    }
    * { margin-bottom: 0; }
  }

  .noteContainer {
    display: inline;
    color: darkorange;

    .note, .note * {
      font-size: 18px;
      margin-bottom: 7px;
      text-align: justify;
      text-indent: 2em;
    }

    header { margin: 7px 0; }

    .note {
      position: absolute;
      width: 650px;
      max-height: 500px;
      overflow-y: scroll;
      overscroll-behavior: contain;
      background-color: var(--background-color);
      border: 1px solid var(--border-color);
      border-radius: 12px;
      padding: 10px 20px;
      box-shadow: var(--shadow-5);
      z-index: 2;
      transition: visibility 0.25s, opacity 0.25s linear;
      visibility: hidden;
      opacity: 0;
    }
    &:hover .note, .note:hover {
      visibility: visible;
      opacity: 1;
    }
  }

  cite, epigraph {
    position: relative;
    margin-left: 25%;
    margin-bottom: 22px;
    padding: 5px 10px;

    &:has(+br) { margin-bottom: 0; }

    p {
      text-indent: 20px;
      font-style: italic;
      margin-bottom: 7px;
      & + p { text-indent: 0; }
    }

    &::before {
      content: url("quotes-left.svg");
      position: absolute;
      top: 1px;
      left: 5px;
      width: 16px;
      height: 16px;
      text-indent: 0;
    }
  }

  .coverpage {
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
      max-height: 600px;
    }
  }

  mark { color: black; }

  .image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 7px;

    img:nth-child(1) {
      background-color: white;
      width: auto;
      height: auto;
      min-height: 40px;
      max-height: 40px;
      min-width: 40px;
      max-width: 40px;
      transition: all 0.8s ease;
    }

    img:nth-child(2) {
      width: 40px;
      height: 40px;
      position: absolute;
      right: calc(50% - 20px);
      cursor: pointer;
      transition: background-color 0.2s ease, border-radius 0.2s ease 0.6s;

      &:hover, &.active { background: rgba(36, 38, 40, 0.6); }

      &.active {
        border-radius: 12px;
        transition: background-color 0.2s ease, border-radius 0.2s ease;
      }
    }
  }
}

.emphasisRight, .emphasisRight div {

  & > emphasis, & > p emphasis {
    display: inline-block;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    text-indent: 0;
  }
  p:has(emphasis) {
    text-indent: 0;
  }
}
