
.container {
  position: relative;
  width: 100%;
  height: 100%;

  .input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid var(--input-border);
    border-radius: 15px;
    transition: padding .2s;
    padding: 4px 14px 5px 14px;
    &.withSearchIcon:not(:focus) { padding: 4px 14px 5px calc(14px + var(--icon-size)); }
    &:focus { outline: none; }
  }

  .searchIcon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto 0;
    width: var(--size);
    height: var(--size);
  }

  &:has(.input:focus) .searchIcon { display: none; }
}
