
.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: var(--side-panel-background);
  padding: 30px;
  transform: translate(-100%, 0);
  transition: transform .3s ease-in-out;
  box-shadow: var(--side-panel-shadow);

  * { font-family: BlinkMacSystemFont, sans-serif; }

  &.opened { transform: none; }

  .header {
    margin-bottom: 25px;
    margin-left: 10px;
    display: flex;
    justify-content: start;
    gap: 15px;

    .coverpageContainer {
      height: calc(100% + 3px);
      min-height: 260px;
      position: relative;

      .coverpage {
        position: absolute;
        inset: 0;
        height: 100%;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 10px;

      p {
        //noinspection CssInvalidPropertyValue
        text-wrap: nowrap;
        white-space: nowrap;
      }

      p:not(.cycleName) {
        text-decoration: underline;
        cursor: pointer;
      }

      .cycleName {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }

  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 20px;
    padding-bottom: 18px;
    border-bottom: 1px solid var(--border-color);

    .title {
      font-size: 24px;
      margin-left: 10px;
    }

    .size {
      color: var(--side-panel-size-color);
      margin-right: 10px;
    }
  }

  .chaptersList {
    padding: 5px 5px 5px 0;
    overflow-y: auto;
    overscroll-behavior-y: contain;

    &::-webkit-scrollbar { display: none; }

    .chapter {
      display: flex;
      justify-content: space-between;
      height: 50px;
      padding: 15px 10px 15px 15px;
      border-radius: 15px;
      transition: all 0.1s;
      cursor: pointer;
      position: relative;

      &.hoverable:hover, &.active {
        background-color: var(--side-panel-chapter-hover-background);
        box-shadow: var(--side-panel-chapter-hover-shadow);
      }

      &.active p:nth-child(1) { font-weight: 800; }

      p:nth-child(1) {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 280px;
      }

      p:nth-child(2) {
        color: var(--side-panel-size-color);
        margin-top: 1px;
      }
    }
  }
}
