
.imageLayer {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;

  .imageContainer {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    background: white;
  }
}
