
.container {
  $height: 54px;

  position: fixed;
  top: 0;
  width: 100%;
  height: $height;
  background-color: var(--header-background);
  border-bottom: 1px solid var(--header-border);
  transition: 0.6s ease;
  z-index: 99;
  transform: translateY(-$height);

  &.opened {
    transform: none;
    box-shadow: var(--header-shadow);
  }

  .header {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 18px;

    .left, .right {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .left { gap: 10px; }
    .right { gap: 14px; }

    .navigator {
      position: absolute;
      inset: 0;
      margin: auto;
      width: fit-content;
      height: fit-content;
    }

    .openSidePanel {
      height: 30px;
      width: 110px;
      background-color: var(--header-button-background);
      border: 1px solid var(--header-button-border);
      border-radius: 8px;
      padding-bottom: 2px;
      cursor: pointer;
      &:hover { background-color: var(--header-button-hover-background); }
    }

    .progress { font-size: 14px; }
  }
}
